 
      ::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: #181818;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: #38ffb6;
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555;
      }

      /*Red Scrollbar Styling */
      .op_fc_cat_wrap::-webkit-scrollbar-thumb {
        -webkit-border-radius: 7px;
        border-radius: 7px;
        background: #38ffb6;
        overflow-x: hidden;
      }

      .op_fc_cat_wrap::-webkit-scrollbar-track {
        background: #272727;
      }

      .op_fc_cat_wrap {
        overflow-x: hidden;
      } 
      .mc_v2_wrap{
        background-image: url("mesa.jpg") !important;
        background-position: center;
        border-color: #ebd332;
      }
      .mc_gw{
        border: none !important;
        background-color: #8a4242;
        background-image: url("bgtest.jpg") !important;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 6em !important;
      }
      .less{
        background-image: url("papel.png") !important;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
      }
     
      .rel{
        border:none !important;
        background-image: url("ouija.png") !important;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 5em !important;
       
      }
      .body {
        background-color: #8a4242 !important;
      }

      .mc_v2_grid {
          grid-template-columns: 1fr 1.5fr;
      }
      @media screen and (max-width: 1150px) and (min-width: 768px) {
        body{
          width: 120% !important;
        }
        .container {
          width: 90%;
        } 
             }
      @media screen and (max-width: 768px) {
        .op_h.less {
        font-size: 36px;
      
        }
      }
      @media screen and (min-width: 768px) {
        .op_h.less {
        font-size: 55px;
        letter-spacing: 6px;
        }
      
        
      }
      .hide{ 
        display: none;
      }
    .mc_v2_statwrap {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 3px solid #176570;
    }
    
    .op_fc_h{
      font-size:36px;
    }
    
    .wallet{
      font-size:30px;
    }
    .op_h.less {
    background-image: none !important;
    }
    #FC_MODAL > div.w-layout-grid.op_3x1.less{
      background-image: none !important;
    }
 
        @font-face {
          font-family: gloria;
          src: url("./Gloria_Hallelujah/GloriaHallelujah-Regular.ttf") format('truetype');
          }
        * {
          font-family: "gloria" !important;
          color: #273e45 !important;
          } 