@font-face {
    font-family: gloria;
    src: url("./Gloria_Hallelujah/GloriaHallelujah-Regular.ttf") format('truetype');
    }
  * {
    font-family: "gloria" !important;
    color: #273e45 !important;
    }
body{ 
    background-image: url('res/01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
.container{
    margin: 5em 0;
    padding: 0 2em;
    display: flex;
    align-content: center;
    justify-content: center;
    
}  
.leftBox{
    width: 30%;
    background-image: url('res/papel.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
 
}
.rightBox{
    width: 60%;
    background-image: url('res/ouija.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
 

}
.separator{
    width: 2em;
}
.leftBoxContent{
    padding-top: 2em;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.rightBoxContent{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    
}

.statisticList{
    padding: 0;
    font-size: 15px;
}
.quant{
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    height: 1.4em;
} 

@media  screen and (min-width: 768px) and (max-width: 1440px) {
    .container{
        height: 450px;
    }
    .leftBox{ 
        width: 30%;
        max-width: 250px;
        max-height: 450px;
    }
    .rightBox{ 
        width: 60%;
        max-width: 680px;
        max-height: 450px; 
    }
    .statistics {
        font-size: 1.5em;
    }
     
}
@media  screen and (min-width: 1440px) and (max-width: 1920px)  {
    .container{
        height: 560px;
    }
    .leftBox{
         
        width: 30%;
        max-width: 300px;
        max-height: 560px;
    }
    .rightBox{
         
        width: 60%;
        max-width: 840px;
        max-height: 560px;

    }
    
     
}
 

@media  screen and (min-width: 1920px)and (max-width: 2400px)   {
    .container{
        height: 800px;

    }
    .leftBox{
         
        width: 30%;
        max-width: 420px;
        max-height: 800px;
    }
    .rightBox{
         
        width: 60%;
        max-width: 1000px;
        max-height: 800px;
    }
    .statisticList{
        padding: 0;
        font-size: 25px;
    }
}


@media  screen and (min-width: 2400px)  {
    .container{
        height: 800px;
    }
    .leftBox{
         
        width: 30%;
        max-width: 420px;
        max-height: 800px;
    }
    .rightBox{
         
        width: 60%;
        max-width: 1200px;
        max-height: 800px;
    }
    .statisticList{
        padding: 0;
        font-size: 25px;
    }
}
 