@font-face {
    font-family: gloria;
    src: url("./Gloria_Hallelujah/GloriaHallelujah-Regular.ttf") format('truetype');
    }
  * {
    font-family: "gloria" !important;
    color: #273e45 !important;
    }
body{ 
    background-image: url(res/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0em 0em;
    padding: 0;
    border: none; 
}
.container{
    margin: 5em 0em;
    padding: 2em 0em;
    display: flex;
    align-content: center;
    justify-content: center;
    
}  
.leftBox{
    width: 30%;
    background-image: url('res/papel.png');
    background-repeat: no-repeat;
    background-size: 0% 0%;
    opacity: 1;
 
}
.rightBox{
    width: 60%;
    background-image: url('res/ouija.png');
    background-repeat: no-repeat;
    background-size: 0% 0%;
    opacity: 1;
 

}
.separator{
    width: 2em;
}
.leftBoxContent{
    padding-top: 2em;
    padding-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.rightBoxContent{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.statistics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    
}

.statisticList{
    padding: 0;
    font-size: 15px;
}
.quant{
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    height: 1.4em;
} 

.weirdTrio{
    margin-top: 2em;
}
.subtStatistic{
    margin-bottom: -10px;
}
.stats{
    
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.stat{
    padding:0 1.5em; 
    width: 35%;
}
.weirdos{
    margin-top: calc(5em + 5%);
    width: 90%;
    height: 25em;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 0.5em;
}
.emptyWeirdo{
    height: 14.5em;
    width: 10.5em;
    position: relative; 
    background-color: white;
}
.emptyWeirdo::after{
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    width: 2em;
    height: 2em;
    background-image: url('res/Iconos-08.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    opacity: 1;
}

.weirdMessage{
    font-size: 9px;
    justify-content: center;
    text-align: left;
    padding: 0.5em;
    line-height: 12px;    
}

.emptyWeirdo>img{
    position: relative;
    top: 4%;
    left: 5%;
    width: 90%;
    height: 70%;
}
.st1{
    top: -6em;
    position: relative;
    text-align: right;
}
.st2{
    top: -4em;
    position: relative;
    text-align: center;
}
.st3{
    top: -6em;
    position: relative;
    text-align: left;

}
.yellowBand{
    padding: 0px;
    font-size: 10px;
    line-height: 1.3;
    text-align: center;
    background-color: #fecd19;
    border-radius: 10px;
    width: 70%;
    margin: 1% 15% -2px;
}
.headerBar{
 
    background-color: #250a3d;
    padding: 2em 0em;
    border-bottom: #fecd19 2px solid;
    height: 2.4em;
}
.navItems{
    display: flex;
    padding: 0;
    margin: 0em 3em;
    flex-direction: row;
    justify-content: flex-end;
}
.navItems > li{
    justify-items: end;
    list-style-type: none;
    padding: 0em 0em;
    margin: 0em 1em;
}
.navItems > li > a{
    color: antiquewhite !important;
    text-decoration: none;
}
li > a > img{
    width: 2em;
    height: 2em;
}

::-webkit-scrollbar{
    width: 0.5em;
    height: 0.5em !important;
}
::-webkit-scrollbar-thumb{
    width: 0.5em;
    background-color: rgb(57, 243, 73);
    border-radius: 3px;
}
::-webkit-scrollbar-track{
    background-color: #273e45;
    }
.cummulative{
    background-color: #493362;
    color: #a2faab !important;
    vertical-align: middle;
    text-align: center;
    padding: 0.5em 2.3em;
    margin-left: 10px;
    } 
.cummulative::before{
    content: "";
    position: absolute;
    top: -16px;
    left: -15px;
    width: 3.8em;
    height: 4em;
    background-image: url(res/GOLD.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    opacity: 1;
        
}

.claimButton{
    position: relative;
    background-color: #35f049;
    height: 2.4em;
    vertical-align: middle;
    font-weight: 600;
    color: #251b2e !important;
    text-align: center;
    padding: 0.5em 1em 0;
    margin-right: 0px;
    border-radius: 12px;
    right: 15px;

}
.uwuClaim{
    display: flex;
    bottom: 7px;
    position: relative;
   
}
.socialButtons{
    margin: 0 0.8em !important;
}

.mobileUwuClaim{
    display :none;
 }
@media screen and (min-width:768px) {
        nav{
            display: none;
        }
        .hamburger{
            display: none;
        }
}
@media screen and (max-width:768px) {
 
    body{ 
        background-image: url(res/fondo-mobile-05.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        height: 100%;
        margin: 0em 0em;
        padding: 0;
        border: none; 
    } 
    .mobUL{
        list-style: none;
    }
    .contMobSocialButtons{
    right: 2em;
    position: relative;
    top: 4em;
    }
    .mobSocialButtons{
        display: inline;
        margin-left: -20px;
    }

    .mobUL>li{
        height: 3em;
        margin: 0;
        padding: 0; 
    }
    .mobileUwuClaim{
        display :flex; 
    }
    .uwuClaim{
    vertical-align: middle;
    margin-left: 2.5em;
    margin-bottom: 1em;
    }
    .cummulative{
        padding: 0.4em 1.5em !important;
    } 

    body{ 
            background-image: none !important;
            background-color: #a2faab;
            
    } 
    .desktopClaim{
        display: none;
    }
    .headerBar{
        height: 2.4em;
    }
    .container{
        display: flex;
        flex-direction: column;
        margin: 1em 0em;
    }
    .weirdTrio{
        display: none;
    }
    .leftBox{
        background-image: url(res/papel.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;    
        width: 100%;
        text-align: center;
        margin-left: 2%;
    }
    .separator{
        display: none;
    }
    .rightBox{
        width: 90%;
        background-image: none;
        margin: auto;
     
    }
    .rightBoxContent {
        padding: 0em;
        flex-direction: row;
        align-items: start;
        overflow-x: scroll;
        display: flex;
        align-content: center;
        justify-content: flex-start;
    }
    .weirdos {
        margin-top: calc(0em + 5%); 
        height: 100%;
        display: grid;
        grid-gap: 1.5em;
        justify-content: start;
        grid-auto-flow: column;
        overflow: initial;
    }
    .emptyWeirdo>img{
        position: relative;
        top: 4%;
        left: 5%;
        width: 90%;
        height: 65%;
    }
    .weirdMessage {
        font-size: 12px;
        padding: 1.2em;
        line-height: 16px;
        color: antiquewhite !important;
    }
    .emptyWeirdo {
        height: 21em;
        width: 16em;
        position: relative;
        background-color: #2e0746;
        margin-bottom: 1em !important;  
        border-radius: 4px;  
    
}
.yellowBand{
    padding: 0px;
    font-size: 12px;
    font-weight: 600;
    line-height: 2em;
    text-align: center;
    background-color: #3eff68;
    border-radius: 10px;
    width: 90%;
    margin: 6% 5% -3% 5%;
}
.leftBoxContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 1em 5% 2em 10%;
}
.statBox{
    width: 45%;
    padding: 5px;
    margin: 0;
}
.SBLast{
    width: 100%;
}
.statisticList {
    padding: 0;
    width: 95vw;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    }
    .quant{
        padding: 0;
        font-size: 36px;
        font-weight: 600;
        margin-top: -20px;   
    }
    .approve{
    font-size: 1.2em;
    width: 70%;
    position: relative;
    background-color: #35f049;
    height: 2.4em;
    font-weight: 600;
    color: #251b2e !important;
    text-align: center;
    border-radius: 12px;
    margin-top: 3em;

}
}
@media  screen and (min-width: 768px) and (max-width: 1350px) {
    .container{
        height: 450px;
        margin: 2em 0em;
    padding: 2em 0em;
    display: flex;
    align-content: center;
    justify-content: center;
    }
    body{ 
        background-image: url(res/01-2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        margin: 0em 0em;
        padding: 0;
        border: none; 
    }
    .leftBox{ 
        width: 30%;
        max-width: 250px;
        min-width: 250px;
        max-height: 550px;
        
    }
    .rightBox{ 
        width: 60%;
        max-width: 680px;
        min-width: 680px;
        max-height: 550px; 
    }
    .statisticList{
     padding: 0px;
     font-size: 12px;
 }
     .statistics{
     padding: 0;
     font-size: 34px;   
     font-weight: 900;
     font-stretch: condensed;
 }
     .quant{
     padding: 0;
     font-size: 28px;
     font-weight: 300;
     margin-bottom: -5px;
     margin-top: -12px;

 }
 .weirdTrio > img{
    width:12em;
    margin-top: -30px;
    margin-left: -15px;
}
.weirdMessage{
    font-size: 9px;
    justify-content: center;
    text-align: left;
    padding: 0.5em;
    line-height: 12px;    
}
.weirdos{
    margin-top: calc(5em + 5%);
    width: 97%;
    height: 15em;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em 0em;
} 
.emptyWeirdo{
    height: 14.5em;
    width: 10.5em;
    position: relative; 
    background-color: rgb(61, 25, 83);
    border-radius: 3px;
   border-style: solid;
    border-color: #1d5507;
   border-width: 1.5px;
}
.weirdMessage{
    font-size: 9px;
    justify-content: center;
    text-align: left;
    padding: 1em 1em 0em 1em;
    line-height: 12px;  
    color: aliceblue !important; 
      
}
.emptyWeirdo>img{
    position: relative;
    top: 2%;
    left: 3%;
    width: 94.5%;
    height: 68%;
}
.st1{
    top: -6em;
    position: relative;
    text-align: right;
}
.st2{
    top: -4em;
    position: relative;
    text-align: center;
}
.st3{
    top: -6em;
    position: relative;
    text-align: left;

}
.yellowBand{
    padding: 0px;
    font-size: 10px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    background-color: rgb(112, 255, 83);
    border-radius: 8px;
    width: 94%;
    margin: 1% 3% -2% 3%;
}
}


@media  screen and (min-width: 1350px) and (max-width: 1850px)  {
    .container{
        height:580px;

    }
    .leftBox{
          
        width: 35%;
        min-width: 320px;
        max-width: 320px;
        max-height: 900px; 
    }
    .rightBox{
         
        width: 60%; 
        min-width: 800px;
        max-width: 800px;
        max-height: 900px;
        rotate: 5%;
 
    }
    .statisticList{
        padding: 0px;
        font-size: 14px;
    }
    .statistics{
        padding: -0px;
        font-size: 42px;   
        font-weight: 900;
        margin-top: -10px;
        margin-bottom: 0px;
        font-stretch: condensed;
    }
    .quant{
        padding: 0;
        font-size: 38px;
        font-weight: 300;
        margin-bottom: px;
        margin-top: -15px;

    }
    .weirdTrio > img{
        width:15em;
        margin-top: -30px;
        margin-left: -15px;
    }
    .weirdMessage{
        font-size: 9px;
        justify-content: center;
        text-align: left;
        padding: 0.5em;
        line-height: 12px;    
    }
    .weirdos{
        margin-top: calc(5em + 5%);
        width: 97%;
        height: 24em;
        overflow-y: scroll;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1em 0em;
    }
    .emptyWeirdo{
        height: 14.5em;
        width: 10.5em;
        position: relative; 
        background-color: rgb(61, 25, 83);
        border-radius: 3px;
       border-style: solid;
        border-color: #1d5507;
       border-width: 1.5px;
    }
    .weirdMessage{
        font-size: 9px;
        justify-content: center;
        text-align: left;
        padding: 1em 1em 0em 1em;
        line-height: 12px;  
        color: aliceblue !important; 
          
    }
    .emptyWeirdo>img{
        position: relative;
        top: 2%;
        left: 3%;
        width: 94.5%;
        height: 68%;
    }
    .st1{
        top: -6em;
        position: relative;
        text-align: right;
    }
    .st2{
        top: -4em;
        position: relative;
        text-align: center;
    }
    .st3{
        top: -6em;
        position: relative;
        text-align: left;
    
    }
    .yellowBand{
        padding: 0px;
        font-size: 10px;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
        background-color: rgb(112, 255, 83);
        border-radius: 8px;
        width: 94%;
        margin: 1% 3% -2% 3%;
    }
}
 

@media  screen and (min-width: 1850px) and (max-width: 2560px)   {
    .container{
        height:780px;

    }
    .leftBox{
          
        width: 35%;
        width: 400px;
        max-height: 900px; 
        
    }
    .rightBox{
         
        width: 60%; 
        width: 1000px;
        max-height: 900px;
        rotate: 5%;
 
    }
    .statisticList{
        padding: 0px;
        font-size: 14px;
    }
    .statistics{
        padding: -0px;
        font-size: 54px;   
        font-weight: 900;
        margin-top: 10px;
        margin-bottom: 0px;
        font-stretch: condensed;
    }
    .quant{
        padding: 0;
        font-size: 48px;
        font-weight: 300;
        margin-bottom: px;
        margin-top: -15px;

    }
    .weirdTrio > img{
        width:20em;
        margin-top: -20px;
        margin-left: -25px;
    }
    .weirdMessage{
        font-size: 9px;
        justify-content: center;
        text-align: left;
        padding: 0.5em;
        line-height: 12px;    
    }
    .weirdos{
        margin-top: calc(9em + 5%);
        width: 96%;
        height: 31em;
        overflow-y: scroll;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1em 0em;
    }
    .emptyWeirdo{
        height: 14.5em;
        width: 10.5em;
        position: relative; 
        background-color: rgb(61, 25, 83);
        border-radius: 3px;
       border-style: solid;
        border-color: #1d5507;
       border-width: 1.5px;
    }
    .weirdMessage{
        font-size: 9px;
        justify-content: center;
        text-align: left;
        padding: 1em 1em 0em 1em;
        line-height: 12px;  
        color: aliceblue !important; 
          
    }
    .emptyWeirdo>img{
        position: relative;
        top: 2%;
        left: 3%;
        width: 94%;
        height: 68%;
    }
    .st1{
        top: -6em;
        position: relative;
        text-align: right;
    }
    .st2{
        top: -4em;
        position: relative;
        text-align: center;
    }
    .st3{
        top: -6em;
        position: relative;
        text-align: left;
    
    }
    .yellowBand{
        padding: 0px;
        font-size: 10px;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
        background-color: rgb(112, 255, 83);
        border-radius: 8px;
        width: 94%;
        margin: 1% 3% -2% 3%;
    }
}


@media  screen and (min-width: 2560px)  {
    .container{
        height:780px;

    }
    .leftBox{
          
        width: 35%;
        width: 400px;
        max-height: 900px; 
        
    }
    .rightBox{
         
        width: 60%; 
        width: 1000px;
        max-height: 900px;
        rotate: 5%;
 
    }
    .statisticList{
        padding: 0px;
        font-size: 14px;
    }
    .statistics{
        padding: -0px;
        font-size: 54px;   
        font-weight: 900;
        margin-top: 10px;
        margin-bottom: 0px;
        font-stretch: condensed;
    }
    .quant{
        padding: 0;
        font-size: 48px;
        font-weight: 300;
        margin-bottom: px;
        margin-top: -15px;

    }
    .weirdTrio > img{
        width:20em;
        margin-top: -20px;
        margin-left: -25px;
    }
    .weirdMessage{
        font-size: 9px;
        justify-content: center;
        text-align: left;
        padding: 0.5em;
        line-height: 12px;    
    }
    .weirdos{
        margin-top: calc(9em + 5%);
        width: 96%;
        height: 31em;
        overflow-y: scroll;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 1em 0em;
    }
    .emptyWeirdo{
        height: 14.5em;
        width: 10.5em;
        position: relative; 
        background-color: rgb(61, 25, 83);
        border-radius: 3px;
       border-style: solid;
        border-color: #1d5507;
       border-width: 1.5px;
    }
    .weirdMessage{
        font-size: 9px;
        justify-content: center;
        text-align: left;
        padding: 1em 1em 0em 1em;
        line-height: 12px;  
        color: aliceblue !important; 
          
    }
    .emptyWeirdo>img{
        position: relative;
        top: 2%;
        left: 3%;
        width: 94%;
        height: 68%;
    }
    .st1{
        top: -6em;
        position: relative;
        text-align: right;
    }
    .st2{
        top: -4em;
        position: relative;
        text-align: center;
    }
    .st3{
        top: -6em;
        position: relative;
        text-align: left;
    
    }
    .yellowBand{
        padding: 0px;
        font-size: 10px;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
        background-color: rgb(112, 255, 83);
        border-radius: 8px;
        width: 94%;
        margin: 1% 3% -2% 3%;
    }
}
 

/*burgir*/ 

body {
 
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
     
  }
   
  
  
  #toggle {
    display: none;
  }
  
  /**
    Hamburger
  **/
  .hamburger {
    position: absolute;
    top: 4.5em;
    right: 10%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 1000;
  }
  
  .hamburger div {
    position: relative;
    width: 2em;
    height: 4px;
    border-radius: 3px;
    background-color: #f8982b;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  /**
  Nav Styles
  **/
  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #250a3d;
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 999;
  }
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    z-index: 9999;
  }
  nav {
    text-align: left;
    margin-left: 10%;
    margin-top: 10%;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: #6ecddd !important;
    font-size: 2em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  nav a:hover {
    color: white;
  }
  nav a:hover:before {
    height: 100%;
  }
  
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -7px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }
  /* burgir */